<nav class="navbar sticky-top navbar-expand-lg navbar-light py-1 bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="ms-3 img-fluid" style="width:75px" src="/images/bigbboy/bigbboy2.png" alt="Logo" id="logo">
            <img class="img-fluid" style="width:150px;" src="/images/bigbboy/bigbboy1.png" alt="Logo" id="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <!-- <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/products">Shop</a>
                <a class="nav-link" href="/contact">Contact</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/login">Login</a> -->

                <% if (title == "Bigbboy") { %>
                    <a class="mx-3 nav-link active" aria-current="page" href="/">Home</a>
                <% }else{ %>
                    <a class="mx-3 nav-link" href="/">Home</a>
                <% } %>

                <% if (title == "Products") { %>
                    <a class="mx-3 nav-link active" aria-current="page" href="/products">Products</a>
                <% }else{ %>
                    <a class="mx-3 nav-link" href="/products">Products</a>
                <% } %>

                <% if (title == "Services") { %>
                    <a class="mx-3 nav-link active" aria-current="page" href="/services">Services</a>
                <% }else{ %>
                    <a class="mx-3 nav-link" href="/services">Services</a>
                <% } %>

                <% if (title == "Contact") { %>
                    <a class="mx-3 nav-link active" aria-current="page" href="/contact">Contact</a>
                <% }else{ %>
                    <a class="mx-3 nav-link" href="/contact">Contact</a>
                <% } %>


            </div>

            <div class="navbar-nav ms-auto">

                <% if (title == "Login") { %>
                    <a class="mx-3 nav-link" href="/register">Register</a>
                <% } else if(title == "Register"){%>
                    <a class="mx-3 nav-link" href="/login">Login</a>
                <%} else{ %>
                    <a class="mx-3 nav-link" href="/admin">admin</a>
                    <a class="mx-3 nav-link" href="/login">Login</a>

                <% } %>

            </div>
        </div>
    </div>
</nav>