<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs"); %> 
<body>
    <%- include("./partials/nav.ejs"); %> 
    

    <div class="container-fluid my-5" style="height: 500px">
        <div class="row my-5">
            <div class="col my-5 text-center">
                <h1 class="my-5">Oops! Page Not Found.</h1>
                <a href="/" class="btn btn-primary">Go to home</a>
            </div>
        </div>
    </div>


    <%- include("./partials/footer.ejs"); %> 
</body>
</html>