<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs"); %> 
<body>
    <%- include("./partials/nav.ejs"); %> 
    

    <div class="container-fluid bg-danger" style="height: 250px">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Contact</h1>
            </div>
        </div>
    </div>

    <div class="container bg-warning my-5" style="height: 500px">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Show Contacts</h1>
            </div>
        </div>
    </div>

    
    
    <div class="container bg-warning my-5" style="height: 500px">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Contact</h1>
            </div>
        </div>
    </div>


    <%- include("./partials/footer.ejs"); %> 
</body>
</html>