<!DOCTYPE html>
<html>

    <%- include("./partials/head.ejs"); %> 
	<body>
    <link rel="stylesheet" href="css/login.css">
	<img class="wave" src="images/bigbboy/wave.jpg">
	<div class="container">
		<div class="img">
			<img src="images/bigbboy/bboy.png">
		</div>
		<div class="login-content">
			<form action="/login" method="post">
                <!-- <img src="images/bigbboy/bigbboy2.png"> -->
				<!-- <img src="images/bigbboy/bboy.png"> -->
				<h4 class="title">LOGIN</h4>
                <div class="row">
                    <div class="col">
                        <% if (success != "") { %>
                            <div class="alert alert-success text-center" role="alert">
                                <p class="text-center"><%= success %> </p>
                            </div>
                        <% } %>
                        <% if (error != "") { %>
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    <% error.forEach(element => { %>
                                    <li><%= element %></li>
                                    <% }) %>
                                </ul>
                                
                            </div>
                        <% } %>
                    </div>
                </div>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<!-- <label for="" class="form-label text-left">Username<span class="text-danger">*</label> -->
           		   		<input type="text" class="form-control" name="username" placeholder="Username">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<!-- <label for="" class="form-label text-left">Password<span class="text-danger">*</label> -->
           		    	<input type="password" class="form-control" name="password" placeholder="Password">
            	   </div>
            	</div>
            	<!-- <a href="#">Forgot Password?</a> -->
            	<input type="submit" class="btn" value="Login">
                <div class="div">
                    <p class="text-center">Don't have an account? <a class="primary-color active" href="/register">Register.</a></p>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/login.js"></script>
</body>
</html>

