a{
    text-decoration: none;
}

.nav-link{
    font-weight: bold;
}

.active{
    color: #F67211 !important;
}

.primary-color{
    color: #F67211;
}

.icon{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.page-title{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.page-hr{
    border: 2px solid #F67211;
    width: 15%;
    margin: auto;
}

.product-title{
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.product-price{
    font-size: 15px;
    font-weight: bold;
    color: #F67211;
}

.button{
    padding: 10px;
    background-color: #F67211;
    color: white !important;
    border: 0;

}

.service-title{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #F67211;
}

.service-desc{
    font-size: 15px;
    text-align: justify;
}

.contact-title{
    font-size: 25px;
    font-weight: bold;
    color: #F67211;
}

.contact-message{
    font-size: 14px;
    color: #828282;
}

.btnContact{
    background-color: #161515;
    color: white;
    font-size: 15px;
    border-radius: 6px;
}

.form-control{
    border: 0.5px solid #F67211;
}

/* .text-center{
    font-size: 12px;
    font-weight: bold;
    color: #F67211;
} */

    /* .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    } */

    .text-center {
        text-align: center !important;
    }
    .pt-0 {
        padding-top: 0 !important;
    }
    .p-4 {
        padding: 1.5rem !important;
    }
   
    .ser-title{
        position: absolute;
        width: 458px;
        height: 74px;
        left: 35px;
        top: 230px;
        
        font-family: 'Poppins';
        font-style: bold;
        font-weight: 900;
        font-size: 35px;
        line-height: 75px;
        color: #FFFFFF;
        
        -webkit-text-stroke-width: .2px;
        -webkit-text-stroke-color: #F67211;
    
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .ser-text{
    
       font-family: 'Poppins';
       font-style: normal;
       font-weight: 400;
       font-size: 15px;
       line-height: 30px;
       text-align: center;
       color: #767676;
    
    }
    
      .pagination {
        display: inline-block;
        box-sizing: border-box;
        width: 300px;
        height: 48px;
        border: 2px solid #EAEAEA;
      }
      
      .pagination a {
        color: blue;
        float: left;
        padding: 10px 16px;
        text-decoration: none;
      }
      .pagination a.active {
        background-color: #1178f6;
        color:white;
      }
      
      .pagination a:hover:not(.active) {
        background-color: #ddd;
      }
    