<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs"); %> 
<body>
    <%- include("./partials/nav.ejs"); %> 
    

    <style>
        .service_hi{
            background-image: url("/images/bigbboy/bg2.png");

            background-position: center;
            background-size: cover;
        }
       
    </style>

    <div class="container-fluid service_hi" style="height: 250px">     
        
        <div class="row">
            <div class="col">
                <h1 class="ser-title">Products</h1>
            </div>
        </div>
    </div>
     <!-- Section Products-->
 <section class="py-5">

    <div class="row">
        <div class="col">
            <hr class="page-hr mb-2">
            <h1 class="page-title">Products</h1>
            <hr class="page-hr mt-2">
        </div>
    </div>

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <a href="#">
                    <!-- Product image-->
                    <img class="card-img-top p-2" src="images/parts/clutch_lining.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4" style="height: 8rem;">
                        <div class="text-center">
                                <span class="product-title">Original Honda TMX 125/155 
                                    Clutch Lining</span>
                                <br><br>
                                <span class="product-price">Php 835.00</span>
                            </div>
                        </div>
                     </a>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <a href="#">
                        <!-- Product image-->
                        <div class="badge bg-danger text-white position-absolute" style="top: 1rem; right: 1rem">Sale</div>
                        <img class="card-img-top p-2" src="images/parts/clutch_lining.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4" style="height: 8rem;">
                            <div class="text-center">
                                    <span class="product-title">Original Honda TMX 125/155 
                                        Clutch Lining</span>
                                    <br><br>
                                    <span class="product-price text-muted text-decoration-line-through">Php 835.00</span>
                                    <span class="product-price">Php 600.00</span>
                            </div>
                         </div>
                    </a>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                </div>
            </div>
        </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <a href="#">
                        <!-- Product image-->
                        <div class="badge bg-danger text-white position-absolute" style="top: 1rem; right: 1rem">Sale</div>
                        <img class="card-img-top p-2" src="images/parts/clutch_lining.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4" style="height: 8rem;">
                            <div class="text-center">
                                    <span class="product-title">Original Honda TMX 125/155 
                                        Clutch Lining</span>
                                    <br><br>
                                    <span class="product-price text-muted text-decoration-line-through">Php 835.00</span>
                                    <span class="product-price">Php 600.00</span>
                            </div>
                         </div>
                    </a>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <a href="#">
                        <!-- Product image-->
                        <img class="card-img-top p-2" src="images/parts/clutch_lining.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4" style="height: 8rem;">
                            <div class="text-center">
                                    <span class="product-title">Original Honda TMX 125/155 
                                        Clutch Lining</span>
                                    <br><br>
                                    <span class="product-price">Php 835.00</span>
                                </div>
                            </div>
                         </a>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <a href="#">
                    <!-- Product image-->
                    <img class="card-img-top p-2" src="images/parts/clutch_lining.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4" style="height: 8rem;">
                        <div class="text-center">
                                <span class="product-title">Original Honda TMX 125/155 
                                    Clutch Lining</span>
                                <br><br>
                                <span class="product-price">Php 835.00</span>
                            </div>
                        </div>
                     </a>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <a href="#">
                    <!-- Product image-->
                    <img class="card-img-top p-2" src="images/parts/clutch_lining.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4" style="height: 8rem;">
                        <div class="text-center">
                                <span class="product-title">Original Honda TMX 125/155 
                                    Clutch Lining</span>
                                <br><br>
                                <span class="product-price">Php 835.00</span>
                            </div>
                        </div>
                     </a>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <a href="#">
                    <!-- Product image-->
                    <img class="card-img-top p-2" src="images/parts/clutch_lining.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4" style="height: 8rem;">
                        <div class="text-center">
                                <span class="product-title">Original Honda TMX 125/155 
                                    Clutch Lining</span>
                                <br><br>
                                <span class="product-price">Php 835.00</span>
                            </div>
                        </div>
                     </a>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <a href="#">
                    <!-- Product image-->
                    <img class="card-img-top p-2" src="images/parts/clutch_lining.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4" style="height: 8rem;">
                        <div class="text-center">
                                <span class="product-title">Original Honda TMX 125/155 
                                    Clutch Lining</span>
                                <br><br>
                                <span class="product-price">Php 835.00</span>
                            </div>
                        </div>
                     </a>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

    
    
     <!-- GALLERY -->
<div class="container">

    <hr class="page-hr mb-2">
    <h1 class="page-title">Gallery</h1>
    <hr class="page-hr mt-2 mb-5">

    <div class="row text-center text-lg-start">
  
      <div class="col-lg-3 col-md-4 col-4">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="images/bigbboy/IMG-0748.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="images/bigbboy/IMG-0749.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="images/bigbboy/IMG-0750.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="images/bigbboy/IMG-0782.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="images/bigbboy/IMG-0752.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="images/bigbboy/IMG-0753.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="images/bigbboy/IMG-0754.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="images/bigbboy/IMG-0765.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div> 

  
    </div>

    <%- include("./partials/footer.ejs"); %> 
</body>
</html>